.articles {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
  margin-bottom: -94px;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include desktop {
    display: inline-flex;
    flex-wrap: nowrap;
  }

  &:last-child {
    padding-bottom: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__list {
    padding-bottom: 30px;

    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop {
      display: inline-block;
      width: 270px;
      height: 120px;
      gap: 30px;
    }
  }

  &__icon {
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: $tertiaryColorGray;

    @include desktop {
      //  padding-bottom: 60px;
    }
  }
}
