.articles {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
  margin-bottom: -94px;
  flex-wrap: wrap;

  &:last-child {
    padding-bottom: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__list {
    padding-bottom: 30px;
    //  width: 270px;
    //  height: 120px;
    //  background: #f5f4fa;
    // border-radius: 4px;
    //  margin-bottom: 30px;
  }

  &__icon {
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: $tertiaryColorGray;
  }
}

@media screen and (min-width: 768px) {
  .articles {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .articles__title {
    text-align: left;
  }

  .articles {
    // justify-content: space-between;
    display: inline-block;
  }
}
