.btn {
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  line-height: 2;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  background-color: $primaryColor;
  color: $secondaryColorWhite;

  &--order {
    margin-bottom: 106px;
    line-height: 1.875;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--newsletter {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--modal {
    padding: 10px 76px;
    margin: 30px 164px 40px;
    transition: box-shadow 250ms $transitionTiming;

    &:is(:hover, :focus) {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
