.join-us {
  margin-left: 70px;
  padding-top: 12px;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $secondaryColorWhite;
    margin-bottom: 20px;
  }

  &__item {
    line-height: 0;
  }

  &__icon {
    display: block;
    padding: 12px;
    fill: $secondaryColorWhite;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    transition: fill 250ms $transitionTiming;

    &:is(:hover, :focus) {
      background-color: $primaryColor;
      fill: white;
      outline: none;
    }
  }
}
