.order {
  background-color: $tertiaryColorDark;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-foto/main-foto-mobile.jpg);
  text-align: center;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding-top: 0;
  padding-bottom: 0;

  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-foto/main-foto.jpg);
    width: 600px;
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-foto/main-foto-tablet.jpg);
    width: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondaryColorWhite;
    margin: 118px 20px 0 20px;

    @include tablet {
      text-align: center;
      line-height: 1.3636;
    }

    @include desktop {
      font-size: 44px;
      margin: 200px 60px 0;
      text-align: center;
      line-height: 1.3636;
    }
  }
}

// @media screen and (min-width: 768px) {
//   .order__title {
//     text-align: center;
//     line-height: 1.3636;
//   }
//   .order {
//     height: 600px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .order {
//     height: 600px;
//   }
//   .order__title {
//     font-size: 44px;
//     margin: 200px 60px 0;
//     text-align: center;

//     line-height: 1.3636;
//   }
// }

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-foto/main-foto2x.jpg);
  }
}
