ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

// * {
//   border: 1 solid red;
// }

ul {
  list-style: none;
}

svg {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

body {
  color: $secondaryColorBlack;
  background-color: $secondaryColorWhite;
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 60px 0;
}

.container {
  max-width: 480px;
  margin: 0px auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
