
$primaryColor: #2196f3;
$secondaryColorBlack: #212121;
$secondaryColorWhite: #fff;
$tertiaryColorDark: #2f303a;
$tertiaryColorGray: #757575;
$tertiaryColorLightGray: #afb1b8;
$transitionTiming:cubic-bezier(0.4, 0, 0.2, 1)